body {
    background-color: rgb(26, 93, 29);
    color: #48a845;
    padding-top: 100px;
}
form {
    width: 420px;
    margin: 100px auto 0 auto;
    padding: 60px;
    border: 2px solid;
    border-radius: 5px;
}
.Btn {
    padding: 0;
    border: none;
    width: 100%;
}
form h2 {
    color: #48a845;
}
form select {
    margin: 10px 0;
}
form button {
    margin-top: 20px;
}
.cardImg {
    width: 200px;
    height: 300px;
}